*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: "arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  font-weight: 200;
 
}

.grid-container {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 200px) 400px;
    grid-template-rows: repeat(2, 200px) 800px;
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 20px; */
    grid-gap: 20px;
  
}

.grid-item {
    text-transform: capitalize;

} 

/*GRID ITEM BACKGROUND COLORS */
.item-1 {
	background-color: #F7B101;
}

.item-2 {
	background-color: #FCCD25;
}

.item-3 {
	background-color: #FF8458;
}

.item-4 {
	background-color: #FEB887;
}

.item-5 {
	background-color: #7cc8c7;
}

.item-6 {
	background-color: #4dabc7;
}

.item-7 {
    background-color: #222;
    
}
