// ITEM BACKGROUND COLORS
.color1 {
	background-color: #F7B101;
}

.color2 {
	background-color: #FCCD25;
}

.color3 {
	background-color: #FF8458;
}

.color4 {
	background-color: #FEB887;
}

.color5 {
	background-color: #7cc8c7;
}

.color6 {
	background-color: #8dabc7;
}

.color7 {
    background-color: #222;
    
}